@font-face {
  font-family: "LucidaGrande";
  src: url("css/lucidagrande.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "LucidaGrande";
  src: url("css/lucidagrandebold.woff2") format("woff2");
  font-weight: bold;
}

* {
    font-family: "LucidaGrande", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    color: white;
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    transition: 0.3s;
}

header a:hover {
    color: #c00;
}

.recommend {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    font-size: 30;
    font-weight: 400;
    height: fit-content;
    margin-bottom: 200px;
}

.recommendtitle {
    margin: 200px 10%;
    z-index: 100;
    width: 50%;
}

.recommend img {
    z-index: 1;
    position: absolute;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    /* background-repeat: inherit; */
    object-fit: cover;
}

.recommend video {
    width: 100%;
    border-radius: 15px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-shadow: 5px 5px 5px black;
}

.recommend p {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    text-shadow: 3px 3px 3px black;
}

.recommend a {
    font-size: 30px;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #c00;
    box-shadow: 4px 4px 4px black;
    width: fit-content;
    margin: 20px 0;
    border-radius: 10px;
    transform: scale(1.0);
    transition: 0.3s;
}

.recommend a:hover {
    transform: scale(1.2);
}

.catalog {
    margin: 20px 0;
    display: flex;
    overflow: auto;
}

.catalog img {
    height: 200px;
}

.catalog a {
    display: inline-block;
    transform: scale(1.0);
    transition: 0.3s;
    margin-right: 10px;
}

.catalog a:hover {
    transform: scale(0.9);
}

h2 {
    font-size: 40px;
    color: white;
    font-weight: 700;
}

